/* Add a black background color to the top navigation */

.nav-header {
    .bg-header {
        background-color: #20232a;
    }
    .dropdown-menu {
        background-color: #0a58ca !important;
    }
    .drop-item {
        color: black !important;
    }
    .nav-brand {
        color: #61dafb !important;
    }
    img {
        animation: App-logo-spin infinite 20 linear;
        @keyframes App-logo-spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }
    .navbar-nav {
        a,
        .nav-link {
            color: rgb(160, 157, 157) !important;
        }
        &hover {
            color: #61dafb !important;
        }
    }
}